@model ScannerCC.Models.Usuario


@{
    var paisesConRecuento = ViewBag.PaisesConRecuento as List<Paises>;
}



<h1>@Model.Nombre</h1>
<a asp-controller="Auth" style="color:red;" asp-action="LogOut" class="dropdown-item">Cerrar Sesion</a>
<a class="nav-link text-dark" style="color:blue!important;"asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
<a class="nav-link text-dark"style="color:blue!important; " asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>


<div class="container">



    <main role="main"  class="pb-3 row">



        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countUsuarios
            </h2>
            <p>Numero de Usuarios Registrados</p>
        </div>

        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countUsuariosEspecialista
            </h2>
            <p>Numero de Especialistas Registrados</p>
        </div>
        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countUsuariosAdministrador
            </h2>
            <p>Numero de Administrador Registrados</p>
        </div>
        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countProductos</h2>
            <p>Numero de Productos</p>
        </div>
        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countEscaneos
            </h2>
            <p>Numero de Escaneos(Totales)</p>
        </div>
        <div class="card col-sm" style="width: 18rem; text-align:center">
            <h2>
                @ViewBag.countEscaneosMes
            </h2>
            <p>Numero de Escaneos(Mes Actual)</p>
        </div
       


        <div class="row">
    
</div>
<div class="row">
    <div class="col">
        <h1>Paises y Recuento</h1>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in paisesConRecuento)
                {
                    <tr>
                        <td>@item.PaisDestino</td>
                        <td>@item.Cantidad</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>










    </main>

    <main role="main"  class="pb-3 row">
         <div class=" card col-sm" style="width: 500px">
	        <canvas id="grafica"></canvas>
        </div>

         <div class="card col-sm" style="width: 500px">
	        <canvas id="graficaproduccion"></canvas>
        </div>
     </main>
     



     
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script type="text/javascript">
(function() {
    const labels1 = ['Blanco', 'Tinto', 'Rose'];
    const colors1 = ['rgb(69,177,223)', 'rgb(99,201,122)', 'rgb(203,82,82)'];

    const graph1 = document.querySelector("#grafica");

    const data1 = {
        labels: labels1,
        datasets: [{
            data: [@ViewBag.countBlanco, @ViewBag.countTinto, @ViewBag.countRose],
            backgroundColor: colors1
        }]
    };

    const config1 = {
        type: 'pie',
        data: data1,
    };

    new Chart(graph1, config1);
})();

(function() {
    const labels2 = ['2022', '2023'];
    const graph2 = document.querySelector("#graficaproduccion");

    const data2 = {
        labels: labels2,
        datasets: [{
            		label:"Produccion c/Año",

            data: [@ViewBag.produccionDosAnio, @ViewBag.produccionUnAnio],
            backgroundColor: 'rgba(9, 129, 176, 0.2)'
        }]
    };

    const config2 = {
        type: 'bar',
        data: data2,
    };

    new Chart(graph2, config2);
})();
</script>
