@model ScannerCC.Models.Controles

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    h4 {
        margin-top: 20px;
    }

    input {
        width: 30%;
        margin: 10px;
    }

        input[type="submit"] {
            background-color: red;
            color: white;
            margin-bottom: 15px;
        }

    .btn-danger:hover {
        background-color: darkred;
        border-color: red;
    }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }

    .row dt,
    .row dd {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Control</h4>
    <hr />
    <dl class="row justify-content-center">
        <dt class = "col-sm-6">
            Producto ID
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Producto.idProducto)
        </dd>
        <dt class = "col-sm-6">
            Linea
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Linea)
        </dd>
        <dt class = "col-sm-6">
            Cepa
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Cepa)
        </dd>
        <dt class = "col-sm-6">
            Pais de origen
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PaisOrigen)
        </dd>
        <dt class = "col-sm-6">
            Pais de destino
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PaisDestino)
        </dd>
        <dt class = "col-sm-6">
            Comentario
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-6">
            Tipo de control
        </dt>
        <dd class = "col-sm-6">
            @if (Model.Tipodecontrol.HasValue)
            {
                <text>@(Model.Tipodecontrol.Value ? "Rechazo" : "Preventivo")</text>
            }
            else
            {
                <text>Nulo</text>
            }
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" name="id" value="@Model.idControl" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Volver a la lista</a>
</div>
