@model ScannerCC.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    a {
        color: white;
    }

    a:hover {
        color: #62EBF0;
    }

    .row dt,
    .row dd {
        margin-top: 5px; 
        margin-bottom: 5px; 
    }
</style>

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row justify-content-center">
        <div class="col-sm-4">
            <div class="row justify-content-center">
                <dt class="col-sm-6">
                    Codigo de barra
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CodigoBarra)
                </dd>
                <dt class="col-sm-6">
                    Nombre
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-6">
                    Cepa
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Cepa)
                </dd>
                <dt class="col-sm-6">
                    Pais de origen
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PaisOrigen)
                </dd>
                <dt class="col-sm-6">
                    Pais de destino
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PaisDestino)
                </dd>
                <dt class="col-sm-6">
                    Fecha de cosecha
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FechaCosecha)
                </dd>
                <dt class="col-sm-6">
                    Fecha de produccion
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FechaProduccion)
                </dd>
                <dt class="col-sm-6">
                    Capacidad
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Capacidad)
                </dd>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row justify-content-center">
                <dt class="col-sm-6">
                    Grado de alcohol
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.GradoAlcohol)
                </dd>
                <dt class="col-sm-6">
                    Azúcar
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Azucar)
                </dd>
                <dt class="col-sm-6">
                    Sulfuroso
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Sulfuroso)
                </dd>
                <dt class="col-sm-6">
                    Densidad
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Densidad)
                </dd>
                <dt class="col-sm-6">
                    Tipo de capsula
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TipoCapsula)
                </dd>
                <dt class="col-sm-6">
                    Tipo de etiqueta
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TipoEtiqueta)
                </dd>
                <dt class="col-sm-6">
                    Color de la botella
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ColorBotella)
                </dd>
                <dt class="col-sm-6">
                    Medalla
                </dt>
                <dd class="col-sm-6">
                    @if (Model.Medalla.HasValue)
                    {
                        <text>@(Model.Medalla.Value ? "Si" : "No")</text>
                    }
                    else
                    {
                        <text>Nulo</text>
                    }
                </dd>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="row justify-content-center">
                <dt class="col-sm-6">
                    Color de la capsula
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ColorCapsula)
                </dd>
                <dt class="col-sm-6">
                    Tipo de corcho
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TipoCorcho)
                </dd>
                <dt class="col-sm-6">
                    Tipo de botella
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TipoBotella)
                </dd>
                <dt class="col-sm-6">
                    Altura de la etiqueta (mm)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AlturaBotella)
                </dd>
                <dt class="col-sm-6">
                    Altura de la contraetiqueta (mm)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.AnchoBotella)
                </dd>
                <dt class="col-sm-6">
                    Medida de etiqueta a boquete (cm)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MedidadEtiquetaABoquete)
                </dd>
                <dt class="col-sm-6">
                    Medida de etiqueta a base (cm)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.MedidaEtiquetaABase)
                </dd>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Volver a la lista</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/@@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@@tensorflow-models/coco-ssd"></script>
<div class="col-sm-4">
    <div class="row justify-content-center">

        <div style="text-align:center;" id="deteccion"></div>

            <div style="flex: 1;">
                <h2>Vista Reconocimiento</h2>
                <video id="video" width="640" height="480" autoplay></video>
            </div>
            <div style="flex: 1;">
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
        



    </div></div>

    <script>
    async function detectObjects() {
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');

        // Cargar el modelo preentrenado COCO-SSD
        const model = await cocoSsd.load();

        // Dimensiones físicas estimadas del objeto en metros
        const objectWidth = 0.02;  // Ancho del objeto en metros
        const objectHeight = 0.2;// Altura del objeto en metros
        const assumedDistance = 0.25; // Distancia estimada de la cámara al objeto en metros

        // Obtener el stream de la cámara
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
        video.srcObject = stream;

        // Esperar a que la cámara cargue y realizar la detección en bucle
        video.addEventListener('loadeddata', async () => {
            while (true) {
                // Realizar la detección de objetos
                const predictions = await model.detect(video);

                // Dibujar las predicciones en el canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                predictions.forEach(prediction => {
                    ctx.beginPath();
                    ctx.rect(
                        prediction.bbox[0],
                        prediction.bbox[1],
                        prediction.bbox[2],
                        prediction.bbox[3]
                    );
                    ctx.lineWidth = 2;
                    ctx.strokeStyle = 'red';
                    ctx.fillStyle = 'red';
                    ctx.stroke();
                    ctx.fillText(
                        `${prediction.class} (${Math.round(prediction.score * 100)}%)`,
                        prediction.bbox[0],
                        prediction.bbox[1] > 10 ? prediction.bbox[1] - 5 : 10
                    );

                    // Calcular dimensiones estimadas en metros
                    const estimatedWidth = (objectWidth * canvas.width) / prediction.bbox[2];
                    const estimatedHeight = (objectHeight * canvas.height) / prediction.bbox[3];

                    // Mostrar dimensiones estimadas en el HTML
                    const infoDiv = document.getElementById('deteccion');

                    if (prediction.class == "bottle") {
                        infoDiv.innerHTML = "";
                        infoDiv.innerHTML = `
                            <p>Object: ${prediction.class}</p>
                            <p>Estimated Width: ${estimatedWidth.toFixed(2)} meters</p>
                            <p>Estimated Height: ${estimatedHeight.toFixed(2)} meters</p>
                        `;
                    }

                    
                });

                // Esperar un breve periodo antes de la próxima detección
                await new Promise(resolve => requestAnimationFrame(resolve));
            }
        });
    }

    // Iniciar la detección de objetos cuando la ventana haya cargado completamente
    window.onload = detectObjects;

    </script>
