@model IEnumerable<ScannerCC.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form asp-action="" method="get" asp-controller="Producto">

        <input type="text" placeholder="codigo o nombre" name="Busqueda" id="">
            
        <button type="submit">Buscar</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoBarra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cepa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCosecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaProduccion)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoBarra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cepa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCosecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProduccion)
            </td>
            
            <td>
                <a asp-action="Details" asp-controller="Producto" asp-route-id="@item.idProducto">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
